html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100%;
  position: relative;
}

#over {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#over_links {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#map {
  height: 100%;
}

#map_interest {
  height: 100%;
}

h1 {
  font-size: 60px;
}

/* Preset selections ------------------ */

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 25%;
  margin: 2.5%;

}

#gallery li img {
  display: block;
  margin: 0 auto 30px;
  border-radius: 100%;
}

#wrapper2 {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 5%;
}