.faedit {
  position: relative;
  display: table-cell;
  width: 2em;
  height: 2em;
  text-align: center;
  top: 0.60em;
}

#placesToSee {
  background: #F7F7F7;
  position: absolute;
  right: 10px;
  top: 60%;
  width: 360px;
  overflow: hidden;
  border-width: 15px;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  opacity: 1;
  border-radius: 5px;
  border-color: #59d;
}

#placesToSee li {
  position: inherit;
  padding: 3px;
  display: block;
  width: 100%;
}

#placesToSee li:hover {
  cursor: all-scroll;
}

.locationList:hover {
  color: #fff;
  background-color: #ff6c4d;
}

#locationsToSee {
  position: relative;
  padding:0px;
  font-family: 'Titillium Web', sans-serif;
}

.userOptions {
    font-family: 'Titillium Web', sans-serif;
    background-color: #59d;
    color: white;
    bottom: 5px;
    left: 15px;
}

#directions {
    margin: 5px;
    background-color: #ff6c4d;
    border-color: none;
}

label {
  font-size: 14px;
  margin: 0px;
  padding: 3px 5px 3px 8px;
}

#journeyStyle {
  margin: 5px;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#distance, #duration {
    padding: 0px 5px;
    margin:  0px 5px;
}

.moreInfo {
    width: 90%;
}
