@import url((http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

.citylogo {
  display: none;
  float: left;
  text-align: left;
  margin: 0px;
  height: 21%;
  width:auto;
}

.fa-lg {
  font-size: 1em;
}

.faedit {
  position: relative;
  display: table-cell;
  width: 65%;
  height: 2em;
  text-align: center;
  top: 0.75em;
}

.main-menu:hover,
nav.main-menu.expanded {
  cursor: pointer;
  width: 200px;
  height: 63%;
  overflow: hidden;
  opacity: 1;
}

.main-menu:hover .citylogo{
  display: block;
}

.menuheading:hover {
  cursor: default;
}

.main-menu {
  background: #F7F7F7;
  position: absolute;
  bottom: 25%;
  left: 0.5%;
  width: 35px;
  height: 50%;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  border-radius: 8px;
}

.main-menu li {
  position: inherit;
  display: block;
  width: 200px;
}

.main-menu li>.menuDesign,
.menuheading {
  position: relative;
  width: inherit;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #8a8a8a;
  font-size: 0.9em;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .14s linear;
  transition: all .14s linear;
  font-family: 'Strait', sans-serif;
  border-top: 1px solid #f2f2f2;
  text-shadow: 1px 1px 1px #fff;
}

.menuheading {
  color: dimgrey;
  font-size: 20px;
  text-decoration: none;
  border-top: none;
  display: table;
  text-align: center;
  vertical-align: middle;
  background: #33E0FF;
  width: inherit;
}

.main-menu .nav-text {
  display: table-cell;
  vertical-align: middle;
  width: 75%;
  font-family: 'Titillium Web', sans-serif;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* Darker element side menu Start*/
.darkerli {
  background-color: #ededed;
  text-transform: capitalize;
}

.darkerlishadow {
  background-color: #ededed;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}
.darkerlishadowdown {
  background-color: #ededed;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/
.main-menu li:hover>.menuDesign,
nav.main-menu li.active>.menuDesign,
.dropdown-menu>li>.menuDesign:hover,
.dropdown-menu>li>.menuDesign:focus,
.dropdown-menu>.active>.menuDesign,
.dropdown-menu>.active>.menuDesign:hover,
.dropdown-menu>.active>.menuDesign:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover .menuDesign,
.dashboard-page nav.dashboard-menu ul li.active .menuDesign {
  color: #fff;
  background-color: #FF5733;
  text-shadow: 0px 0px 0px;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
