.modal-header {
    background: #FF5733;
    color: white;
    padding: 5px;
    border-radius: 5px;
    height: 45px;
}

.modal-content {
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

#interestPrompt {
    position: fixed;
    top: 40%;
    left: 0%;
}

#locationPrompt {
    position: fixed;
    top: 5%;
    left: 60%;
}

.modal-content {
  height: 90%;
}

#myModal .modal-dialog {
  width: 95%;
  height: 90%;
}

.moreInfoModal {
  display: inline-block;
  position: absolute;
  margin: 0px;
  top: 45px;
  width: auto;
  height: 83%;
  padding: 20px 10px 10px 10px;
  overflow-y: auto;
}

.modal-body {


  width: auto;

}

.modal-title{
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0px 10px 0px;
  text-align: center;
}

#nextArticle {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#previousArticle {
  position: absolute;
  bottom: 10px;
}

#modal-images {
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px;
}
