html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#over-content {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#over_links {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#map {
  height: 100%;
}

#map_interest {
  height: 100%;
}

h1 {
  font-size: 60px;
}

h3 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
/* Preset selections ------------------ */

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery td {
  float: left;
  width: 22%;
  margin: 5%;
}

#gallery td img {
  border-radius: 100%;
  width: 100%;
}

/* Head */

#cityName {
  text-align: center;
  font-size: 500%;
  color: blue;
  padding: 5%;
}

.interest-image {
  width: 100%;
  border-radius: 50%;
  box-shadow: 1px 2px 1px 1px;
}

.interest-name {
  display: none;
  font-size: 230%;
  text-align: center;
  color: red;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-52%);
  transform: translateX(-52%);
  padding: 0px;
  margin: auto;
  width: 100%;
}

.clickable:hover .interest-name {
  display: block;
}

table {
  padding: 0px;
  margin: 0px;
}

#over-content-interest {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

.clickable {
  position: relative;
  width: 100%;
}

img {
  opacity: 0.7;
}

img:hover {
  opacity: 2;
}

#over_links {
  width: 60%;
  padding: 0 5%;
}

#main-footer {
    position: center;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}
