html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#over-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#over-content-interest {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#over-content-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
}

#map {
  height: 100%;
}

#map_interest {
  height: 100%;
}

#cityName {
  text-align: center;
  font-size: 800%;
  font-weight: bold;
  color: blue;
  padding: 10% 10% 0 10%;
}

#citywalker-logo {
  margin: auto;
}

.option-image {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  box-shadow: 2px 4px 4px gray;
}

.option-image-index {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  box-shadow: 2px 4px 4px gray;
}

.option-name {
  display: none;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

@media (min-width: 992px) and (max-width: 1200px){
  .option-name{font-size: 215%;}
}

@media (min-width: 768px) and (max-width: 991px) {
  .option-name{font-size: 205%;}
}

.clickable:hover .option-name {
  display: block;
}

.clickable {
  position: relative;
  width: 100%;
}

td {
  padding: 2%;
}

.footer{
  display: block;
  width: 100%;
  margin: 0;
  height: 50px;
  background-color: red;
}
.col-md-10 {
  padding: 0px !important;
}
