html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#over-content {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#over_links {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#map {
  height: 100%;
}

#map_interest {
  height: 100%;
}

h1 {
  font-size: 60px;
}

/* Preset selections ------------------ */

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 25%;
  margin: 2.5%;

}

#gallery li img {
  display: block;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.interest-image {
  width: 100%;
  border-radius: 50%;
  border-color: blue;
  border: 3px;
}

.interest-name {
  display: none;
  font-size: 230%;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-52%);
  transform: translateX(-52%);
  padding: 0px;
  margin: auto;
  width: 100%;
}

.clickable:hover .interest-name {
  display: block;
}

table {
  padding: 0px;
  margin: 0px;
}

#over-content-interest {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

.clickable {
  position: relative;
  width: 100%;
}
